body {
	background-color: cyan;
        text-align: center;
}

.ketengah {
	margin: 5px auto;
	padding: 3px;
}

a {
	text-decoration: none;
}

img {
	width: 70px;
	height: 80px;
	border-radius: 10px 10px 10px 10px;
}
.foto {
	background-color: #d5f5ec;
	padding: 20px;
	float: left;
	margin: 20px;
}

.foto {
	border-radius: 5px 40px 5px 5px;

}
